Source: exceltex
Section: tex
Priority: optional
Maintainer: Hans-Peter Doerr <doerr@cip.physik.uni-freiburg.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: exceltex
Section: tex
Architecture: all
Depends: libspreadsheet-parseexcel-perl, tetex-base
Pre-Depends: perl
Description: include data from Excel files into LaTeX
 Exceltex is a LaTeX package combined with a helper program written in Perl, wich makes it easy to include tabulars and cells from excel files in LaTeX documents
