Source: exceltex
Section: tex
Priority: optional
Maintainer: Hans-Peter Doerr <doerr@cip.physik.uni-freiburg.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: exceltex
Section: tex
Architecture: all
Depends: libspreadsheet-parseexcel-perl, tetex-base
Pre-Depends: perl
Description: accessing Excel files from LaTeX
 Exceltex consists of a LaTeX package providing two commands to include cells
 and tabulars, and a perlscript which actually extracts the ordered data
 from the Excel file.
